.game {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(115,168,68,0.8940826330532213) 19%, rgba(187,208,40,0.70640756302521) 100%);
    overflow-x: hidden;
}

.game_title {
    margin-bottom: 10px;
    color: var(--darkRed);
}

.hints {
    max-width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

select {
    min-width: 120px;
    height: 45px;
    background-color: var(--lightGreen);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
}
option {
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--darkRed);
}

.option-complete {
    background-color: var(--lightGreen);
}

.translation {
    max-width: 80%;
    margin: 10px auto;
    padding: 0.6rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    transition: all ease-in-out .7s;
}

.translation-hidden {
    opacity: 0;
}

.result_block {
    width: 95%;
    margin: 20px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(207, 207, 162);
}

.sentence_block {
    min-width: 100%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    min-height: 3rem;
}

.source_block {
    min-width: 80%;
    margin: 20px auto;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.word {
    padding: 0.6rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid black;
    background-color: var(--lightGreen);
    cursor: pointer;
    transition: all ease-in-out .7s;
}

.word-wrong {
    color: var(--darkRed);
    border: 1px solid var(--darkRed);
    text-decoration: line-through;
}

.word-right {
    background-color: white;
    color: var(--lightGreen);
    border: 1px solid var(--lightGreen);
    text-decoration: underline;
}

.game-btns {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#check,
#result,
#giveUp,
#translation {
    background-color: var(--lightGreen);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

.translation_active {
    background-color: var(--darkRed) !important;
}

#giveUp:disabled,
#result:disabled,
#check:disabled {
    background-color: gray;
    color: black;
    border-radius: 0;
    cursor: auto;
}

@media screen and (max-width: 920px){
    .word {
        font-size: 1.1rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 868px){
    .sentence_block {
        min-height: 2.5rem;
    }
    .word {
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 400;
    }
}