.start {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_title {
    color: black;
}

.start_subtitle {
    max-width: 90%;
    margin: 30px auto;
    color: black;
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    text-align: center;
}

.start_greeting {
    max-width: 90%;
    margin: 30px auto;
    color: var(--lightGreen);
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.6px;
    text-align: center;
}

.start_btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

.start_btn:hover {
    color: white;
    border: none;
    background-color: var(--lightGreen);
}