.modal {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(218, 228, 228, 0.6);
}

.modal_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 65%;
    margin: 0 auto;
    min-height: 200px;
    padding: 2rem;
    background-color: rgb(207, 207, 162);
    border-radius: 40px;
    position: relative;
}

.X {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#continue {
    background-color: var(--lightGreen);
    border: 1px solid black;
    color: white;
    border-radius: 5px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.subtitle-green {
    color: var(--lightGreen);
}

.subtitle-red {
    color: var(--darkRed);
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.2rem;
}

.list li {
    text-align: center;
}

.green-list {
    color: var(--lightGreen);
}

.red-list {
    color: var(--darkRed);
}